<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Article</ion-title>
    <ion-button color="primary" slot="end" (click)="navigateAdd()">Add New friend</ion-button>
    <ion-button color="danger" slot="end" (click)="goBack()">LOGOUT</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <h3>Atlas News Feed</h3>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let friendList of friend">
    <ion-item-sliding #item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/hvlq7cryh4xy.png" />
        </ion-avatar>
        <ion-label>
          <h2>Astronaut ID</h2>
          <p>{{ friendList.friendId }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
              <ion-item-option color="dark" (click)="editRow('id123' , 'edittest1' , 'edittest2')">
                <ion-icon name="settings"></ion-icon>
                Edit
              </ion-item-option>
            </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteData(friendList._id, $event)">
            <ion-icon name="trash"></ion-icon>
                Delete
            </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

</ion-content>
