<ion-header>
  <ion-toolbar color="danger">
    <ion-button color="primary" slot="end" (click)="goBack()">Back</ion-button>
    <ion-title>Add new friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <h3>Add New Friend</h3>

  <ion-item>
    <ion-label color="primary" position="floating">Friend ID</ion-label>
    <ion-input [(ngModel)]="friendId" type="number" pattern="tel"></ion-input>
  </ion-item>

  <br />

  <ion-button expand="full" (click)="sendData()" color="danger" fill="outline">ADD NEW FRIEND</ion-button>




</ion-content>
