<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" (click)="goBack()" color="danger">Back</ion-button>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="danger">

  <h3>New Astronaut.</h3>

  <ion-item>
    <ion-label color="primary" position="floating">Astronaut ID</ion-label>
    <ion-input [(ngModel)]="astronautId" type="number" pattern="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Astronaut Password</ion-label>
    <ion-input [(ngModel)]="astronautPassword" type="password" pattern="password"></ion-input>
  </ion-item>

  <br />

  <ion-button color="light" (click)="serviceSignUp()" expand="full" fill="outline">SIGN UP</ion-button>


</ion-content>
