<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Atlas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  
  <ion-img
    style="width : 200px; height : 200px;" 
    src="https://yt3.ggpht.com/a-/AN66SAwWaqDawfBbr0mhSw0LbYUzdMJb3oBv696Ouw=s900-mo-c-c0xffffffff-rj-k-no"
  ></ion-img>

  <br />

  <ion-item>
    <ion-label color="primary" position="floating">Astronaut ID</ion-label>
    <ion-input [(ngModel)]="astronautId" type="number" pattern="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Password</ion-label>
    <ion-input [(ngModel)]="astronautPassword" type="password" pattern="password"></ion-input>
  </ion-item>
  
  <br />

  <ion-button expand="full" color="tertiary" fill="outline" (click)="sendData()">Atlas Login</ion-button>
  <ion-button expand="full" color="danger" fill="outline" (click)="signUpNavigate()">Sign up for new astronaut.</ion-button>


</ion-content>
